{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "console": true
  },
  "rules": {
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1,
        "MemberExpression": 0
      }
    ],
    "no-bitwise": 2,
    "camelcase": 0,
    "curly": [
      2,
      "all"
    ],
    "eqeqeq": 2,
    "wrap-iife": 2,
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "new-cap": [
      2,
      {
        "capIsNew": false,
        "newIsCap": true,
        "newIsCapExceptions": ["P.resolve"]
      }
    ],
    "no-caller": 2,
    "quotes": [
      2,
      "single",
      { "allowTemplateLiterals": true }
    ],
    "no-undef": 2,
    "no-unused-vars": 2,
    "func-names": 0,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "array-bracket-spacing": [
      2,
      "never",
      {}
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "quote-props": [
      2,
      "as-needed"
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "yoda": [
      2,
      "never"
    ],
    "no-with": 2,
    "no-multiple-empty-lines": 2,
    "one-var": [
      2,
      "never"
    ],
    "no-var": 2,
    "vars-on-top": 2,
    "space-before-blocks": [
      2,
      "always"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "space-infix-ops": 2,
    "eol-last": 2,
    "dot-notation": 2,
    "keyword-spacing": [
      2,
      {}
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": 2,
    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": "block-like", "next": "*" },
    ]
  }
}
